@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  scroll-behavior: smooth;
  --background-icon-Menu:rgb(0, 153, 107);
  --background-Menu:rgb(255, 255, 255);
}

.header {
  width:100%;
  height: 80vh;
  background-image: url(./Img-optime/Mod\ pantano_verde.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-mods {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding-top: 20px;
}

.contenedor {
  width: 90%;
  max-width: 1400px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.aside-content-mods h2 {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.aside-content-mods {
  background: white;
  width: 500px;
  height: 60%;
}

.contenedor-service {
  background: rgb(255, 255, 255);
}

.conten-text {
  width: 80%;
  border-radius: 10px;
  margin:auto;
  display:flex
}

.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.boton-cover {
  border: none;
  text-decoration: none;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
  list-style: none;
  transition: background .2s;
  font-size: 15px;
  font-weight: bold;
  width:200px;
  
}

.boton-cover:hover {
  background: #45da00;
  list-style: none;
  color: white;
  text-decoration: none;
  
}

.hamburguer {
  position: fixed;
  top: 14px;
  right: 30px;
  background-color: rgb(145, 77, 0);
  width: 35px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 25px -25px black;
  transition: 0.1s;
  z-index: 12;
  box-shadow: 0 0 4px -2px;
}

.hamburguer:hover {
  background: rgb(255, 136, 0);
}

/*Menu-navegacion*/

.menu-navegacion {
  position: fixed;
  top:0px;
  right: 0;
  width: 200px;
  height: 70%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-140%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.466);
  border-radius: 6px 0 6px 6px;
  z-index:15;

}

.label {
  width:60px
}

.borde {
  background: rgb(81, 221, 0);
  width: 150px;
  border-radius: 10px;
  text-align: center;
  transition: background .2s;
  
}

.borde i {
  padding: 0 5px
}

.spread {
  transform: translate(0);
}

.btn {
  width: 300px;
}

.menu-navegacion a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-decoration: 0;
  list-style: 0;
  margin: 10px;
  margin-bottom: 30px;
  transition: color 300ms;
  font-weight: 700;
  
}


.borde:hover {
  background: #ff6600;
}

.text-menu {
  text-align: center;
}

.menu-navegacion a:hover {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

.titulo {
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  animation: animation_text 6s infinite ease;
}

@keyframes animation_text {
  0%{
    transform: translateY(15px);
  }

  25%{
    transform: translateY(-5px);
  }

  100%{
    transform: translateY(15px);
  }


}

.copy {
  width:70%;
  font-weight: 700;
  font-size: 15px;
  border-radius: 10px;
}

/*Menu principal*/
.MeNu {
  float: left;
  top: 10px;
  opacity: 0;
}

.Icon_desplegable_movil {
  position: fixed;
  top: 15px;
  width: 35px;
  right:100px;
  background: var(--background-icon-Menu);
  border-radius:6px;
  cursor: pointer;
  transition-property: background;
  transition-duration: .3s;
  z-index: 12;
  box-shadow: 0 0 4px -2px;
}

.Icon_desplegable_movil:hover{
  background:rgb(255, 153, 0)
}

.menu-movil {
  background: var(--background-Menu);
  width: 100%;
  box-shadow: 0 0 25px -20px black;
  transition: color 300ms;
  position: fixed;
  z-index: 10;
  transform: translateY(-120%);
  transition: transform .3s ;
  border-top: 3px solid #00c97c;
  
}

.show-menu-movil {
  transform: translateY(0);
  transition: transform .4s ;
}

.menu-movil h2 {
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 90px;
  font-size: 30px;
  float: right;
  width: 30%;
}

.menu-movil b {
  color: #00af92;
  border-bottom: solid 2px #00ceab;
}

.color-interno a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  margin: 17px;
  padding: 20px;
  float: left;
  margin-right: 5px;
  padding: 0 10px;
  background: #00b487;
  border-radius:6px;
}


.color-interno i {
  color: rgb(255, 255, 255);
  padding: 0 5px;
}

.color-interno i:hover{
  color:white;
}

.color-interno a:hover {
  color: rgb(255, 255, 255);
  background: #00b487;
  transition: background .2s;
  text-decoration: none;
  transition-timing-function: ease-in;
  
}

/* Nuestro-servicio*/

.subtitulo-principal {
  width: 500px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 4px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  font-size: 25px;
  background-color:rgb(0, 235, 164);
  border-radius: 18px;
  font-family: 'Fira Sans', sans-serif;
}

.subtitulo {
  width: 500px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 4px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: solid 2px #00b487;
  
}

.subtitulo-galeria {
  width: 500px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 4px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-size: 25px;
  border-bottom: solid 2px gold;
  
}

.subtitulo-2 {
  text-align: center;
  font-weight: 300;
  color: rgb(57, 202, 0);
  margin-bottom: 40px;
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 45px;
  border-bottom: solid 2px rgb(29, 173, 0);
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

.contenedor-servicio img {
  width: 50%;
  border-radius: 6px;
}

.contenedor-servicio.img-fort {
  width: 50%;
}

.contenedor-servicio-new {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio-new img {
  width: 40%;
}

.service .btn {
  margin: 7px;
  color: black;
  border: solid rgb(0, 255, 76) 2px;
  width:200px;
}

.service .btn:hover {
  color: #fff;
  background: rgb(0, 255, 76) 2px;
  transition: background .2s;
}

.font-versions h2 {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.font-versions b {
  color: #126e00;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.second {
  width:60%;
}

.second h2 {
  text-align: center;
  justify-content: center;
  
}

/*Slider automatico*/

.contenedor {
  width:100%;
  overflow: hidden;
}

.slider-contenedor {
  width:100%;
  display:flex;
}

.contenido-slider {
  width:100%;
  height:500px;
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider:nth-child(2){
  background: #ffffff;
  color:rgb(0, 0, 0);
}

.contenido-slider:nth-child(3){
  background:#ffffff;
  color: rgb(0, 0, 0);
}

.contenido-slider:nth-child(4){
  background:#ffffff;
  color: rgb(0, 0, 0);
}

.contenido-slider > img {
  width:400px;
}

.contenido-slider > section {
  width:40%;
}

.contenido-slider h2 {
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.contenido-slider a {
  color:rgb(255, 255, 255);
  background: #00d897;
  display:block;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  width:120px;
  text-decoration: 0;
  margin-top:20px;
  font-size: 15px;
  font-weight: 800;
}

.contenido-slider a:hover{
  text-decoration: none;
  color:white;
  background:#009758;
  transition: background .2s;
}

.contenido-slider:nth-child(2){
  background:#ffffff;
  color: rgb(0, 0, 0)
}

/*Desplazamiento descarga*/

.contenedor-descargas {
  width:100%;
  height:100%;
  margin:auto;
}

.links-relacionados {
  width:100%;
  height:200px;
  margin:auto;
  
}

.links-relacionados a {
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: center;
  width:300px;
  border: solid 2px #00ca76;
  align-items: center;
  justify-content: center;
  color:rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 800;
  transition: background .4s ease-out;
}

.links-relacionados a:hover{
  background: rgb(255, 187, 0);
  color: white;
  text-decoration: none;
  border: solid 2px white;
}


.links-relacionados h4 {
  display:flex;
  text-align: center;
  width:200px;
  padding: 5px 10px;
  background: #00c090;
  color: white;
  font-weight: 800;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  border-bottom: 2px solid white;
  border-radius: 4px;
  
}

/*Botones de link*/

.icon_open {
  width:40px;
  height:40px;
  cursor: pointer;
  transition: all .2s;
  position:relative;
  right:-4px;
  top: 40px;
}

.icon_open:hover {
  border-radius:6px;
  background:#f2f2f2;
}

p {
  margin-right: 10px;
}


.text-don {
  text-align: center;
  width: 400px;
}

.boton-service {
  margin: 10px;
  color: rgb(0, 0, 0);
  width: 300px;
  border-radius: 30px;
}


.text-version {
  align-items: center;
}

.container-content {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

.content-second {
  width: 80%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  display:flex;
}

article {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 4px;
  overflow: hidden;
  background:#fff;
  box-shadow: 0 0 10px -4px;
  border-top: solid 3px #00c090;
}

/*Seccion galeria*/

.service a {
  text-decoration: none;
}

.gallery-container {
  width: 95%;
  height: 800px;
  margin: 195px auto;
}

.gallery-container img {
  width: 500px;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 50%;
  padding-bottom: 20px;
  margin: auto;
}

.contenedor-galeria img {
  width: 40%;
  
}

.section-mods {
  background: #ffffff;
}

.img-galeria {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px;
  transition: 0.2s ease-in-out;
  transform: scale(1);
}

.img-galeria:hover {
  transform: scale(0.9);
  border-radius: 20px;
}

.img-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.466);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .3s .5s;
  z-index: 15;
  opacity: 1;
}

.show {
  transform: translate(0);
  transition: transform .3s, opacity .3s;
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transition: transform 0.3s 0.2s;
  transform: scale(0);
}

.showImage {
  transform: scale(1);
  
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

/*Contenido de mods*/

.content-mods {
  text-align: justify;
  width: 80%;
  height: 70%;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  margin: auto;

}

.seccion-second-mods {
  width:100%;
  height:100%;
  
}

.second-mods {
  background: rgb(255, 255, 255);
  width: 98%;
  margin:auto;
  
}

.imgmods {
  width: 70%;
}

/*Aside*/

.container-aside aside {
  width: 300px;
  border-right: 6px;
  box-shadow: 0 0 25px -20px black;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 50px;
  padding-bottom: 40px;
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
}

.container-aside {
  width: 30%;
}

.container-aside aside h2 {
  margin: 5px;
  font-size: 25px;
}

.container-aside img {
  width: 90%;
  margin:10px 15px;
  border-radius: 6px 6px 0 0;
  
}

.container-aside aside button {
  margin-top: 20px;
  margin-left: 20px;
  padding:5px 40px;
  font-size: 15px;
  background: rgb(0, 197, 105);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  font-weight: 700;
}

.container-aside aside button:hover {
  opacity: 0.9;
}

/*Footer*/

footer {
  background: rgb(255, 255, 255);
  padding-bottom: 0.1px;
  
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: rgb(0, 0, 0);
}
.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.social-media-icon:hover {
  background: rgb(0, 214, 230);
  color: rgb(255, 255, 255);
  border:white;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: rgb(0, 0, 0);
  margin-bottom: 60px;
}

p {
  display: flex;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {

  article {
    width:90%;
    margin:auto;
  }

  .menu-navegacion {
    width: 70vw;
    height: 100%;
    
  }

  .MeNu {
    opacity: 1;
  }

  .Icon_desplegable_movil {
    display: none;
  }

  .container-aside {
    margin: auto;
  }

  .container-aside aside {
    margin: 2px auto;
  }

  .subtitulo-principal {
    width: 60%;
    height: 70px;
  }

  .subtitulo-galeria {
    width: 500px;
  }

  .menu-movil ul li a:hover {
    transition: color 100ms;
  }

  .titulo {
    font-size: 15px;
  }
  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }

  .contenedor-servicio-new img {
    width: 40%;
  }

  .checklits-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
  }

  .agregar-imagen {
    width: 80%;
  }

  .img-galeria {
    width: 45%;
  }

  .cont-experts {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }
  .social-media-i {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    
  }

  .brand .parrafo .copy_text {
    text-align: center;
    justify-content: center;
    margin:auto;
  }

  .social-media-icon {
    margin-left: 0;
  }

  p {
    text-align: left;
  }

  .boton-cover {
    width: 200px;
  }

  .content-second {
    width:90%;
  }

  .conten-text {
    width:100%;
  }

  /*Responsy desplazamiento descarga*/

  .contenedor_descargas {
    margin:auto;
    width:100%;
    height:100%;
  }

  .service_descargas {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .img_principal {
    width: 90%;
  }

  .links-relacionados a {
    width:200px;
  }

  .links-relacionados {
    width:100%;
    margin: auto;
  }

  /*Responsy Slider*/

  .contenido-slider img {
    width:250px;
  }

  .cotenido-slider > section {
    width:40%;
  }

  .contenido-slider h2 {
    font-size: 23px;
  }

  

}

@media screen and (max-width: 500px) {
  /*Menu-navegacion movil*/

  .menu-navegacion {
    width: 67vw;
  }

  .menu-movil {
    width: 70%;
    top: 5px;
    height: 50%;
    border-radius: 10px;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    position: fixed;
    background: white;
  }

  .spread {
    transform: translate(0);
  }

  .MeNu {
    background: rgb(7, 212, 0);
    margin: 15px;
    width: 35px;
    border-radius: 6px;
    position: fixed;
    box-shadow: 0 0 5px -2px;
    z-index: 5;
    
  }

  .MeNu:hover {
    background: #00db80;
  }

  .menu-movil h2 {
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Staatliches", cursive;
    justify-content: center;
    float: left;
  }

  .menu-movil b {
    color: #00c3ff;
    border-bottom: solid 2px #00c3ff;
  }

  .color-interno a {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #00e29ede;
    width: 70%;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    margin: 25px;
    border-bottom: solid #00885fde;
  }

  .color-interno a:hover {
    background: #00a560;
  }

  .color-interno {
    margin: 30px;
    height: 80%;
    border-radius: 5px;
  }

  .color-interno i {
    color:white
  }

  .menu-movil h2 {
    text-align: justify;
  }

  .img-light {
    width: 100%;
    z-index: 20;
  }


  .container-content {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .container-aside {
    width: 80%;
    top: 0;
  }

  .gallery {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .expertos {
    width: 100%;
  }

  .hamburguer {
    top: 25px;
    right: 15px;
    position: fixed;
  }

  .titulo {
    font-size: 25px;
  }

  .subtitulo {
    font-size: 20px;
  }

  .agregar-imagen {
    width: 95%;
  }

  .img-galeria {
    width: 95%;
  }

  .social-media {
    width: 100%;
  }

  .contact-us {
    width: 90%;
  }

  .n-service {
    font-size: 18px;
  }

  .contenedor-galeria {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 250%;
  }

  .copy {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    width: 80%;
    height:170px;
    font-size: 15px;
    margin-top: 15px;
  }

  .contenedor-servicio-new img {
    width: 90%;
  }

  .content-mods {
    text-align: left;
    width: 100%;
    height: 30%;
  }

  .boton-service {
    width: 200px;
  }

  .subtitulo-2 {
    font-size: 30px;
  }

  .subtitulo {
    width: 200px;
    height: 100%;
    font-size: 20px;
  }

  .subtitulo-galeria {
    width: 200px;
    font-size: 20px;
  }

  .container-aside h2 {
    font-size: 20px;
    margin: 10px;
  }

  .container-aside aside {
    margin: auto;
    width: 95%;
  }

  .container-aside {
    width: 90%;
  }

  .contenedor-servicio img {
    width: 80%;
  }

  .service {
    width: 100%;
  }

  .service a {
    font-size: 15px;
    width: 100%;
  }

  .font-versions h2 {
    font-size: 18px;
    width: 100%;
  }

  .btn {
    width: 90%;
  }

  .service a {
    width: 90%;
  }

  .checklits-servicio {
    width: 100%;
  }

  /*Segundo responsy*/

  .contenido-slider {
    flex-direction: column-reverse;
  }

  .contenido-slider > section {
    width:80%;
  }



}

