@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #E5E5E5;
}

/*Header*/

header {
    width:100%;
    height:100%;
}

.header__container {
    width:100%;
    height:100%;
}

/*Menu de navegacion*/

.menu {
    position:relative;
    height:100%;
    background: white;
}

.menu__icon {
    display:none;
}

nav {
    height:60px;
}

nav ul {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:40px;
}

.nav__menu ul li{
    text-decoration: none;
    list-style: none;
    border-bottom: solid 2px #32BF00;
}

.nav__menu li a {
    margin: 0 20px;
    text-decoration: none;
    color:black;
    font-size: 16px;
    
}

.nav__menu a:hover{
    color:#ffae00;
    transition: color 300ms;
}

.image__menu {
    display:none;
}

.image__icon__close {
    display:none
}

/*Log_Texture*/

.texturas {
    position: absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    height:60px;
    margin: 15px 80px;
    background: #32BF00;
    width:148px;
    height:30px;
    color:white;
    border-radius: 8px;
    z-index: 10;
}

/*Informacion__cover*/

.header__cover {
    width:100%;
    height:397px;
    position: relative;
    background-image: url(./Img_Texture/Texture_pack_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header__items {
    position: relative;
    max-width:800px;
    height:500px;
    margin:auto;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: -30px;
}

.header__cover__titulo {
    color:white;
    font-weight: bold;
    font-size: 30px;
}

.header__cover p {
    color:white;
    background: rgba(0, 0, 0, 0.3);
    border-radius:10px;
    
}

.header__items a {
    text-decoration: none;
    color:white;
    background: #ffae00;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: solid 2px #ffae00;
    transition: background .2s;
}

.header__items a:hover{
    background: #dd9700;
    border: solid 2px white;
}

.image_vector {
    position:relative;
    margin-top:-320px;
    width:100%;
    height:100%;
}

/*New__Cars*/

.new__cars__container {
    width:100%;
    height:100%;
    margin:auto;
    padding-bottom: 30px;
    padding-top: 60px;
}

.new__cars_content {
    width:95%;
    height:100%;
    margin:auto;
    display:flex;
}

.new__cars img {
    width:320px;
    padding: 20px;
    border-radius: 25px;
    object-fit: cover;
    display: block;
}

.new__cars {
    width:678px;
    height:100%;
    margin:0 20px;
    display:flex;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 6px -4px black;
}

.new__cars__information {
    padding: 20px 0;
}

.new__cars__information h2 {
    padding-bottom: 20px;
}


hr {
    list-style: none;
    border-color: #E5E5E5;
    max-width: 90%;
    margin:auto;
}

/*Footer*/

.footer__contenedor {
    width:100%;
    height:100%;
    background-image: url(./Img_Texture/Vector_dos.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    
}

.container__footer {
    margin: auto;
    width:100%;
    height:100%;
    display:flex;
}

.logo__footer {
    width:177px;
    border-radius: 50%;
    margin:0 100px;
    right: -50px;
    position:relative;
}

.footer__contacts {
    margin: 0 50px;
    padding-top: 30px;
    line-height:30px;
    
}

.background__image {
    position:relative;
    top: -100px;
    z-index: -5;
}


.image__absolute {
    position:absolute;
    right:10px;
    width:118px;
    padding-top: 80px;
}

.copy{
    margin:auto;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width:1200px){


    .new__cars__information {
        overflow: scroll;
    }

    .new__cars__information p {
        font-size:12px;
    }

    .new__cars img {
        width:100%;
        
    }
}

@media screen and (max-width:720px){
    
    /**Header**/

    header{
        width:100%;
        height:100%;
    }

    .header__container {
        width:100%;
        height:60px;
        background: #ffffff;
        z-index: 10;
    }

    .header__cover {
        width:100%;
        height:400px;
    }

    .header__items{
        max-width:360px;
    }

    .header__items a {
        font-size:16px;
    }

    .image_vector {
        width:100%;
        height:100%;
        top: 13px;
    }

    .texturas {
        width:100px;
        font-size: 12px;
        position: absolute;
        left:-60px;
    }

    .header__cover__titulo {
        font-size: 25px;
        padding-bottom: 10px;
    }

    /**New__Cars**/

    .new__cars__container {
        width:100%;
        height:100%;
        margin:auto;
    }

    .new__cars_content {
        width:100%;
        height:100%;
        flex-direction: column;
        flex-wrap: wrap;
        margin:auto;
        
    }
    .new__cars {
        width:80%;
        margin:auto;
        margin-bottom: 20px;
    }

    .new__cars img {
        width:100%;
        object-fit: cover;
    }

    .new__cars__information {
        display:none;
    }

    .new__cars__information h2 {
        font-size: 18px;
    }

    .new__cars__information p {
        font-size:12px;
    }

    .new__cars__information {
        padding:0 10px;
        margin-top: 20px;
    }

    /**Footer**/

    .footer__contenedor {
        width:100%;
        height:100%;
        margin:auto
    }

    .container__footer {
        width:100%;
        height:100%;
        flex-direction: column;
        flex-wrap: wrap;
        margin:auto;
        
    }

    .footer__contacts {
        margin:auto;
    }

    .logo__footer {
        margin:auto;
        left:-5px;
        width:40%
    }

    .image__absolute {
        display:none;
        
    }


}

@media screen and (max-width:600px){

    /**Menu_navegacion**/

    .menu {
        width:60%;
        height:100%;
        left:0;
        position: fixed;
        z-index: 20;
        transform: translateX(-180%);
        transition: transform .3s;
        background-image: url(./Img_Texture/Vector_tres.svg);
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: 0 0 6px -2px;
    }

    .show__menu {
        transform: translate(0);
        transition: transform .2s;
    }

    .menu__icon {
        position:absolute;
        right: 20px;
        top: 15px;
        width:30px;
        padding: 3px;
        display:block;
        cursor:pointer;
    }

    .menu__icon:hover{
        background: #eeeeee;
        border-radius: 30px;
        
    }

    .menu nav ul {
        flex-direction: column;
        width:90%;
        margin:0 -25px;
        align-items: center;
        /*left:14px;*/
    }

    .menu nav ul li {
        height:10px;
        justify-content: flex-start;
        margin:auto;
        text-align:center;
    }

    .menu a {
        background: #C4C4C4;
        padding:5px;
        border-radius:15px;
        display:block;
        margin:auto;
        width:120px;
    }

    .menu a:hover {
        transition: background .2s;
        background: #E5E5E5;
        color: black;
    }

    .menu ul li {
        border-bottom: none;
    }

    .menu i {
        display:none;
    }

    .image__menu{
        width:90px;
        display:block;
    }

    .image__icon__close {
        position:absolute;
        right: 10px;
        top: 10px;
        background:#C4C4C4;
        border-radius: 30px;
        padding: 3px;
        cursor:pointer;
        width:25px;
        display:block;
        align-items: center;
        
    }


}