@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}

body::-webkit-scrollbar{
    width:5px;
    background:#f2f2f2;
}

body::-webkit-scrollbar-thumb {
    background: #53DA00;
    border-radius:10px;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease;
}


/* *Estilizando el header */

header {
    width:100%;
    height:100%;
}

.header__container {
    width:100%;
    height:100vh;
    background-image: url(./Img-home/Base.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.darkHeader {
    background-image: url(./Img-home/BaseDark.png);
}

.container {
    background-image: url(./Img-home/Vector__nav.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
    width:100%;
    height:245px;
    display: flex;
    align-items: top;
    justify-content:center;
}

.sub__container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:100%;
    height:100px;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    justify-content:center;
    width:200px;
    height:50px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}

.logo img {
    width:30px;
    height:30px;
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content:center;
}

.logo__container h2 {
    font-size: 20px;
    text-align: center;
    user-select: none;
}


/* Ligth__header */

.ligth__header {
    display: block;
    width:50px;
    height: 50px;
    overflow:hidden;
    position:relative;
}

.ligth__header img {
    cursor: pointer;
    transition: .1s ease;
    padding: 3px;
    border-radius:50%;
    margin: 7px;
    user-select: none;
}

.ligth__header .Icon__ligth__header:hover {
    background: #f2f2f2;
}

body.dark {
    background: #161F28;
}

body.dark .info__cover p {
    color: white;
}

body.dark .title__cover__float {
    background: #2c3e50;
}

body.dark .btn__cover {
    background: #95a5a6;
}

body.dark .rigth__menu {
    background: #2c3e50;
}

body.dark .rigth__menu a {
    color: white;
}

body.dark .show_rigth:before {
    background: #2c3e50;
}

body.dark .show_rigth:after {
    background: #2c3e50;
}

body.dark #icon__arriba {
    background: white;
    padding: 3px;
}

body.dark #icon__abajo {
    background: white;
    padding: 3px;
}

body.dark .menu a {
    background: #34495e;
    color: white;
}

body.dark .logo h2 {
    color: white;
}

body.dark .logo {
    background: #34495e;
}

body.dark .Icon__ligth__header {
    background: white;
    transform:translateY(-50px)
}

body.dark .Icon__ligth__sun {
    transform: translateY(-55px)
}

body.dark .public__header {
    background: #00000044;
}

body.dark .public__header h2{
    color: white;
}

body.dark .items__footer__info h2 {
    color: white;
}

body.dark .items__footer__info p {
    color: white;
}

body.dark .social{
    color: white;
}

body.dark .social__nav a {
    color: white;
}

body.dark .derechos {
    background:#34495E;
}

body.dark .derechos h3 {
    color: white;
}

/* Alert Menu Dark */

body.dark .alert__menu {
    background: #34495e;
    border-color: #2c3e50;
}

body.dark .title__alert__menu {
    color: white;
}

body.dark .icon__alert__menu {
    color: white;
}

.themeContainer {
    background-image: url(./Img-home/VectorDark.svg);
}

/* Search Input */

.header__input {
    width:300px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content:center;
    position:relative;
}

.header__input input {
    width:280px;
    height:30px;
    border: none;
    outline:none;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 0 5px;
}

input:focus {
    box-shadow: 0 0 10px -5px;
    transition: all .2s;
}

input::-webkit-input-placeholder {
    color: black;
    font-weight: 800;
    text-align: flex-start;
}

.icon__search {
    position: absolute;
    right:12px;
    width:20px;
}

/* Menu__navegation */

.menu {
    width:600px;
    height:100%;
}

.menu ul li {
    list-style: none;
}

.menu nav {
    height:100px;
}

.menu nav ul {
    display: flex;
    height:100%;
    align-items: center;
    justify-content:center;
}

.menu ul li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    background: #f1f1f1;
    font-weight:700;
    border-radius: 20px;
    padding: 3px 20px;
    font-size: 15px;
    transition: all 0.25s;
}

.menu a:hover {
    background: #1abc9c;
    color:white;
}

/* Icons none */

.icon__menu {
    display: none;
}

.themeIcon__menu {
    display: none;
}

.icon__input {
    display: none;
}

.cerrarMenu {
    display: none;
}

.fa-moon {
    display: none;
}

.icon__menu__derecho {
    display: none;
}

.IconMenuArrow {
    display: none;
}

/* header__items */


.header__items {
    width: 900px;
    height:auto;
    margin: 0 50px;
    /* background:rgba(0, 0, 0, 0.250); */
    border-radius: 4px;
    padding: 20px;
}

.header__items__container {
    text-align: center;
}

.header__items__container h2{
    margin-bottom: 20px;
    font-size: 1.7em;
    color: white;
    text-transform: capitalize;
}

.header__items__container p{
    color:#f2f2f2;
    font-size: 15px;
    font-weight: 500;
}


/* Public__header */

.public {
    width: 100%;
    height:330px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.public__header {
    width:900px;
    background: #ffffff;
    border-radius: 10px;
    position:relative;
    margin: auto;
}

.container__public {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__public img {
    width:160px;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    margin: 0 40px;
}

.items__public {
    text-align: center;
}

.items__public h2 {
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 10px;
}

.items__public a {
    text-decoration: none;
    color: white;
    background-color: #EA0000;
    padding: 3px 20px;
    border-radius:20px;
    font-weight: 700;
    transition: all .2s ease;
    border: solid 2px #EA0000;
    font-size: 15px;
}

.items__public a:hover {
    background: white;
    color: #EA0000;
    border: solid 2px #EA0000;
}

.cerrar {
    position:absolute;
    right: 10px;
    font-weight: bold;
    background:#EA0000;
    color:white;
    border-radius: 50%;
    width:20px;
    height:20px;
    text-align: center;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content:center;
    top: 5px;
    cursor: pointer;
    user-select: none;
}


/* Menu derecho */

.rigth__menu {
    position:fixed;
    top:0;
    right: 0;
    z-index: 10;
    width:30px;
    height:100%;
    background: white;
}

.rigth__menu__container {
    width:30px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.items__menu {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.items__menu a {
    color: black;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 50%;
    padding: 5px;
    transition: all .2s;
}

.show_rigth {
    width:100%;
    height:100%;
    position:relative;
}

.show_rigth::before{
    content:"";
    position:absolute;
    top:0;
    width:30px;
    height:220px;
    background: white;
    z-index: 4;
}

.show_rigth::after{
    content:"";
    position:absolute;
    bottom:0;
    width:30px;
    height:220px;
    z-index: 4;
    background: white;
}

.n-youtube:hover {
    color:#EA0000;
}

.n-discord:hover {
    color: #2c00ca;
}

.n-email:hover {
    color:#7f8c8d;
}

.n-facebook:hover {
    color:#3460db;
}

/* Icon siguientes */

.n-instagram:hover{
    color:#DB6B97;
}

.n-twitter:hover {
    color:#2980b9;
}

.n-telegram:hover {
    color:#3498db;
}

.n-tiktok:hover{
    color:#9145B6;
}

#icon__abajo {
    position:absolute;
    bottom:5px;
    padding: 3px;
    z-index: 5;
    border-radius: 50%;
    cursor: pointer;
}

#icon__arriba:hover{
    background-color: #c4c4c4;
}

#icon__abajo:hover{
    background-color: #c4c4c4;
}

#icon__arriba {
    position:absolute;
    top: 5px;
    padding:3px;
    z-index: 5;
    border-radius:50%;
    cursor: pointer;
}

/* Estilizando el contenido */

.container__content {
    width:100%;
    height:100%;
}

.contenedor__content {
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

.image__cover__container {
    width:60%;
    border-radius:10px;
    object-fit: cover;
    box-shadow: 0 0 30px -15px;
    border: solid 10px white;
}

.cover__container {
    display: flex;
    align-items: center;
    justify-content:center;
    width:90%;
}

.info__cover {
    width:600px;
    height:100%;
    padding:20px;
}

.info__cover p {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
}

.btn__cover {
    color:white;
    text-decoration: none;
    background: #3D00EA;
    border-radius: 20px;
    font-size: 20px;
    padding: 3px 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition:all .3s;
}

.btn__cover:hover {
    color:white;
    box-shadow: 0 0 20px -5px #3D00EA;
}

.title__cover__float {
    position: relative;
    width:500px;
    font-size: 40px;
    right:100px;
    background:#53DA00;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px -10px black;
    margin-bottom: 20px;
}

/* Alert Menu*/

.alert__menu {
    position:fixed;
    z-index: 16;
    top: 20px;
    left:20px;
    width:400px;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px;
    border-bottom: solid 2px #53DA00;
    transform: translateX(-120%);
    cursor: pointer;
}

.container__alert {
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.title__alert__menu {
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
}

.icon__alert__menu {
    cursor:pointer;
}

.alertMenuNav {
    overflow: hidden;
}

.alertMenuNav {
    width:90%;
    height:0;
}

.showAlertMenu {
    overflow: none;
    height:auto;
}

.alertMenuNav li {
    list-style: none;
}

.alertMenuNav a {
    text-decoration: none;
    border:solid 2px #8e44ad;
    color: #8e44ad;
    display: block;
    padding: 3px;
    border-radius: 20px;
    margin: 10px 0;
    width:300px;
    text-align: center;
    background: white;
    transition: all .1s ease;
}

.alertMenuNav a:hover {
    background:#8e44ad;
    color: white;
}

.alertMenuNav nav ul {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

/* Estilos footer */

footer {
    width:100%;
    height:400px;
    background-image: url(./Img-home/Slice\ 1.svg);
    background-repeat: no-repeat;
}

.footerDark {
    background-image: url(./Img-home/FooterVectorDark.svg);
}

.container__footer {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.items__footer__info {
    margin: 0 10px;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content:center;
}

.items__footer__info h2,p{
    text-transform: capitalize;
    color:black
}

.footer__info img {
    width:150px;
    border-radius: 50%;
}

.social h4 {
    font-size:1.1em;
    text-transform: capitalize;
}

.social__nav ul li {
    list-style: none;
}

.social__nav li a {
    text-decoration: none;
    color: black;
}

.social__nav ul li {
    margin: 10px;
}

.social__nav a {
    text-transform: capitalize;
}

.derechos {
    width:100%;
    text-align: center;
    font-size: 0.8em;
}

/* *Responsy 1200px */

@media screen and (max-width:1200px){

    .header__items {
        margin: 0 20px;
        padding: 0;
        width:700px;
        margin: auto;
    }

    /* Contenido */

    .cover__container {
        flex-direction: column;
    }

    .info__cover {
        margin: 0;
    }

    .title__cover__float {
        font-size: 1.9em;
        width:400px;
        right: inherit;
    }

    .image__cover__container{
        width:70%;
    }
    
    /* Public */

    .public__header {
        width:80%;
    }

    /* Logo */

    .logo {
        width:170px;
    }

    .logo h2 {
        font-size:1em;
        margin: 0;
    }

    /* Input */

    .header__input {
        width:180px;
        left: 0;
    }
    
    .icon__search {
        display: none;
    }

    /* Ligth */

    .ligth__header {
        right:34px;
        top: 60px;
    }

}

/* *Responsy 800px */


@media screen and (max-width:800px){

    /* Estilos del header */

    header{
        width:100%;
        height: 100%;
    }

    .header___container {
        width:100%;
        height:100%;
    }

    .container {
        width:100%;
    }

    .sub__container {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    /* Icons */

    .icons {
        display: flex;
        width:100px;
        height:100%;
        align-items: center;
        justify-content:center;
    }
    
    .icons img {
        margin: 0 5px;
    }

    .icon__input {
        width:25px;
        cursor:pointer;
    }

    .icon__menu {
        width:30px;
        border-radius: 50%;
    }

    .icon__menu:hover {
        background: #f2f2f2;
    }

    .icon__input {
        cursor: pointer;
        border-radius: 50%;
        padding:3px;
    }

    .icon__input:hover {
        background:#f2f2f2;
    }
    
    /* Logo */

    .logo {
        width:150px;
    }

    .logo h2 {
        font-size: 1em;
    }

    /* Icons */

    .icon__search {
        display: none;
    }
    
    .icon__menu__derecho {
        position: absolute;
        right:30px;
        top: 140px;
        width: 30px;
        cursor: pointer;
    }

    /* Menu */

    .menu {
        position:fixed;
        top: 0;
        right: 0;
        width:60%;
        height:100%;
        background:white;
        z-index: 15;
        background-image: url(./Img-home/Vector_menu.svg);
        background-position-x: right;
        background-repeat: no-repeat;
        transition: all .4s ease;
        transform: translateX(100%);
        opacity: 0;
        border-radius: 0px;
        flex: 0;
    }

    .IconMenuArrow {
        display: none;
    }

    .show__menu {
        transform: translateX(0);
        opacity: 1;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        margin: 40px 0;
    }
    
    .menu nav {
        width:100%;
        height: 100%;
        margin: auto;
    }

    .menu a {
        text-align: center;
        display: block;
        width:70px;
        background: white;
        border: solid 2px #1abc9c;
    }

    body.dark .menu a {
        border-color: #34495e;
    }

    .menu a:hover {
        box-shadow: 0 0 10px #1abc9c;
    }

    .cerrarMenu {
        position:absolute;
        top: 5px;
        left: 5px;
        background: #c4c4c4;
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;
    }

    /* Rigth menu */

    .rigth__menu {
        transform: translateX(100%);
        transition: all .2s ease;
    }

    .showMenuDerecho {
        transform: translateX(0)
    }

    .show_rigth::before{
        width:30px;
        height:150px;
    }
    
    .show_rigth::after{
        width:30px;
        height:150px;
    }

    /* Ligth */

    .ligth__header {
        position: absolute;
        right:80px;
        top:25px;
    }

    
    body.dark .Icon__ligth__sun {
        transform: translateY(-55px);
        /* margin: 10px; */
    }

    body.dark .header__input {
        background: #161F28;
    }

    body.dark .icon__input {
        background: white;
    }

    body.dark .icon__menu {
        background: white;
    }

    body.dark .container__footer {
        background-image:url(./Img-home/SliceDark.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    body.dark footer {
        background-image: none;
    }

    /* Input Search */

    .header__input {
        position:absolute;
        padding-left: 5px;
        width:60%;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .5s ease;
        background-color: white;
    }

    .show__input{
        opacity: 1;
        transform: translateX(0);
    }

    .header__input .buscarInput {
        width:100%;
    }

    /* Items el header */

    .header__items {
        width:90%;
        padding: 5px;
        margin: auto;
        margin-top: -60px;
    }

    .header__items__container h2 {
        font-size:1.3em;
    }

    .header__items__container p{
        font-size:0.8em;
        font-weight: 500;
    }

    /* Public__header */

    .public__header {
        width:385px;
        height:150px;
        box-shadow: 0 0 10px -5px;
    }

    .container__public {
        display: flex;
        align-items: center;
        justify-content:center;
        height:100%;
    }

    .items__public h2 {
        font-size:1em;
    }

    .container__public img {
        width:20%;
    }

    .container__public img {
        margin: 0;
    }

    /* Contenido */

    .cover__container {
        flex-direction: column;
    }

    .title__cover__float {
        font-size:1.3em;
        width:auto;
        padding:3px;
    }

    .image__cover__container {
        width:100%;
    }

    .info__cover {
        margin-top: 20px;
        max-width:500px;
        width:360px;
        height:100%;
        padding:0;
    }

    .btn__cover {
        font-size: 1em;
    }

    /* Estillos para Alert Menu */

    .alert__menu {
        top: 60px;
        left: 0;
        margin: 0 10px;
        border: none;
    }

    .title__alert__menu {
        display: none;
    }

    .icon__alert__menu {
        position:fixed;
        right:0;
        top: -50px;
        width:40px;
        height:40px;
        background: #f2f2f2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content:center;
        position: absolute;
        box-shadow: 0 0 10px -5px;
    }

    /* Estilos del Footer en celular */

    footer {
        background-image: none;
    }

    .container__footer {
        width:100%;
        height: 100%;
        flex-direction: column;
        margin: auto;
        padding: 100px 0;
        background-image: url(./Img-home/Slice\ 2.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .footer__info {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer__info img {
        margin-bottom: 10px;
    }

    .items__footer__info {
        text-align: center;
        margin-left: 25px;
    }

    .footer__social {
        margin-bottom: 20px;
    }

    .derechos {
        background: #C4C4C4;
        width:100%;
    }
    .derechos h3 {
        font-size: 1em;
        text-align: center;
        color: white;
    }

    /* Icons block */

    .icon__menu {
        display: block;
    }

    .themeIcon__menu {
        display: block;
    }

    .icon__input {
        display: block;
    }

    .cerrarMenu {
        display: block;
    }

    .fa-moon {
        display: block;
    }

    .icon__menu__derecho {
        display: block;
    }

}

/* !Tamaño de 400px */

@media screen and (max-width:400px){

    /* Log */

    .logo {
        width:160px;
    }

    /* Items */

    .header__items__container p {
        font-size:0.8em;
    }

    .public__header {
        width:270px;
    }

    .items__public h2 {
        font-size:0.9em;
        padding:3px;
    }

    .items__public a {
        font-size:0.8em;
    }

    .container__public img {
        display: none;
    }

    /* Icon Theme */

    .Icon__ligth__header {
        position:absolute;
        margin: 0 15px;
    }

    .Icon__ligth__sun {
        transform: translateY(50px)
    }
    

    body.dark .Icon__ligth__sun {
        transform: translateY(0)
    }

    .icon__input {
        top: 25px;
    }

    /* Contenido */

    .info__cover {
        width:100%;
    }

    .title__cover__absolute {
        font-size: 1.2em;
    }

    /* Footer */

    .footer__info img {
        width:35%;
    }

    /* Menu */

    .menu {
        background-size: 180px;
    }

    /* Alert Menu */ 

    .alert__menu {
        width:90%;
    }

    .alertMenuNav a{
        font-size:1em;
        width:240px;
    }

}

/* !Tamaño de 300px */

@media screen and (max-width:300px){
    
    
    /* Public__header */

    .public__header{
        width:270px;
    }

    .public__header {
        margin-top: 15px;
    }

    /* Logo */

    .logo {
        width:140px;
    }

    .logo h2 {
        font-size: 0.8em;
    }

    .title__cover__absolute {
        top:20px;
    }

    /* Alert Menu */

    .alert__menu {
        width:85%;
    }

    .alertMenuNav a {
        font-size:0.9em;
        width:200px;
    }
}

/* !reponsy height */

@media screen and (max-height:700px){
    .show_rigth::before{
        width:30px;
        height:200px;
    }
    
    .show_rigth::after{
        width:30px;
        height:200px;
    }
}

@media screen and (max-height:640px){
    .show_rigth::before{
        width:30px;
        height:180px;
    }
    
    .show_rigth::after{
        width:30px;
        height:180px;
    }
}

@media screen and (max-height:600px){

    
    /* Public */

    .public__header {
        display: block;
        width:400px;
        box-shadow: 0 0 10px -5px;
    }

    .container__public img {
        display: none;
    }

    .--modify {
        margin-top: 120px;
    }

    .container__content {
        margin-bottom: 20px;
    }

    /* Menu derecho */

    .show_rigth::before{
        width:30px;
        height:148px;
    }
    
    .show_rigth::after{
        width:30px;
        height:148px;
    }
}

@media screen and (max-height:500px){
    .public__header {
        top: -90px;
    }
}

@media screen and (max-height:400px){

    /* Logo */

    .logo {
        width:166px;
    }

    /* Contenido */

    .container__content {
        padding: 10px 0;
    }

    .--modify {
        margin-top: 210px;
    } 

    .image__cover__container {
        width:80%;
        /* margin: auto; */
    }

    .title__cover__absolute {
        top: 110px;
    }

    .public__header {
        width:500px;
        top: 30px;
        box-shadow: 0 0 10px -5px;
    }

    .container__public img {
        width:100px;
    }

    .info__cover {
        width:500px;
    }

    /* Menu derecho */

    .show_rigth::before{
        width:30px;
        height:50px;
    }
    
    .show_rigth::after{
        width:30px;
        height:50px;
    }
}


@media screen and (max-height:300px){

    .public__header {
        top: -80px;
    }
}